.order {
    display: flex;
    background-color: rgba(0,0,0,0.8);
    height: 100vh;
    .shoppingCart {
        left: auto;
        top: 0;
        right: 0;
        margin: 0;
    }
    .container {
        .title {
            padding-top: 2em;
        }
        color: white;
        display: block;
        text-align: center;
        align-items: center;
        padding-top: 1em;
        .categories {
            display: grid;
            grid-template-columns: auto;
            gap: 10px;
        }
    }
}
@media screen and (max-width: 1000px) {
    .order {
        height: 110vh;
    }
}
@media screen and (max-width: 768px) {
    .order {
        height: max-content;
    }
}
