.order {
    display: flex;
    min-height: 100vh;
    .shoppingCart {
        left: auto;
        top: 0;
        right: 0;
        margin: 0;
    }
    .container {
        .title {
           margin-top: 2em;
        }
        color: white;
        display: block;
        text-align: center;
        align-items: center;
        padding-top: 1em;
        .categories {
            display: grid;
            grid-template-columns: auto;
            gap: 10px;
        }
    }
    @media screen and (max-width: 768px) {
        .order {
            height: max-content;
        }
    }
}

