.order {
    display: flex;
    background-color: rgba(0,0,0,0.8);
    height: 100vh;
    .container {
        .title {
            padding-top: 3em;
        }
        color: white;
        display: block;
        text-align: center;
        align-items: center;
        padding-top: 2em;
        .categories {
            display: grid;
            grid-template-columns: auto;
            gap: 10px;
        }
        .categories-content {
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 10px;
        }
    }
}