.shopping-cart-page {
    display: flex;
    height: max-content;
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    width: 100%;
    .content {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        .title {
            color: white;
            display: block;
            text-align: center;
            align-items: center;
        }
    }
}