.widget {
    background-color: white;
    height: 20vh;
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    display: flex;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;
    text-decoration: none;
    &:hover {
        filter: brightness(50%);
    }
    .widgetTitle {
        color: crimson
    }
}