.widget {
    background-color: #14181a;
    background-image: linear-gradient(62deg, #14181a 0%, #160d16 100%);    
    height: 20vh;
    width: 40vw;
    border-radius: 10px;
    display: flex;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30%;
    text-decoration: none;
    .widgetTitle {
        color: crimson;
        padding: 1em;
    }
    .hover-panel {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 1em;
        .add-button, .details-button {
            width: 100%;
            cursor: pointer;
            display: flex;
            height: 100%;
            justify-content: space-between;
            align-items: center;
            padding: 1.5em;
            color: white;
            p, .icon {
                color: white;
                font-size: 1.5rem;
            }
        }
        .add-button {
            background-color: #FBAB7E;
            background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;          
        }
        .details-button {
            background-color: #d04143;
            background-image: linear-gradient(43deg, #d04143 0%, #f21720 46%, #e0233b 100%);
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;   
        }
    }
    .hidden {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .widget {
    height: 30vh;
    width: 70vw;
    .hover-panel {
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        .add-button {
            border-radius: 10px 10px 0 0;
        }
        .details-button {
            border-radius: 0 0 10px 10px;
        }
    }
    }

}