.widget {
    background-color: white;
    height: 20vh;
    margin: 1.5em;
    border-radius: 10px;
    display: flex;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30%;
    text-decoration: none;
    .widgetTitle {
        color: crimson;
        padding: 1em;
    }
    .bottom-panel {
        margin-top: auto;
        margin-left: auto;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        float: right;
        background-color: rgba(0,0,0,0.5);
        border-radius: 0 10px 10px 0;
        .price {
            color: white;
            font-size: 1.5em;
        }
        .icon {
            font-size: 2em;
            color: white;
            cursor: pointer;
            &:hover {
                color: crimson;
                transition: 850ms;
            }
        }
    }
    .hidden {
        visibility: hidden;
    }
}