.checkout {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    width: 100%;
    height: max-content;
    background-color: rgba(0,0,0,0.4);
    .price {
        color: white;
        font-size: 2em;
    }
    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;
        .checkout-button, .reset-button, .print-button {
            width: 100%;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1em;
            border-radius: 10px;
            color: white;
            height: 5rem;
        }
        .reset-button {
            background: #cb2d3e;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }
        .checkout-button {
            background: #56ab2f;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        .print-button {
            background: #00d2ff;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    }
}
@media screen and (max-width: 768px) {
    .checkout {
        flex-direction: column;
        margin-top: auto;
        .buttons {
            .checkout-button,.reset-button {
                width: 100%;
            }
            justify-content: space-between;
        }
    }
}