.categoryWidget {
    background: #000000;
    background: -webkit-linear-gradient(to right, rgba(0,0,0,0.5), rgba(26,14,37,0.5));
    background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(26,14,37,0.5));
    height: max-content;
    width: 25vw;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    &:hover {
        filter: brightness(50%);
        transition: 850ms;
    }
    .categoryWidgetTitle {
        margin-top: auto;
        color: crimson;
        padding: 1em;
        text-decoration: none;
    }
}
@media screen and (max-width: 768px) {
    .categoryWidget {
        width: 80vw;
        height: 70vh;
        scroll-snap-align: start;
        transform-origin: center center;
        transform: scale(1);
        transition: transform 0.5s;
    }
}