.sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    transition: 850ms;
    z-index: 80;
    .close {
        position: fixed;
        top: 0;
        left: 150px;
        color: red;
        font-size: 2em;
        cursor: pointer;
    }
    .link-style {
        text-decoration: none;
        width: 100%;
    }
    .sidebar-item {
        cursor: pointer;
        color: whitesmoke;
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 10em;
        .sidebar-item-element {
            font-size: 1.5em;
            padding-right: 10px;
            padding-left: 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
        }
        &:hover {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    .userData {
        width: 100%;
        color: white;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        float: right;
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
        }
        .buttons {
           display: flex;
           width: 100%;
           justify-content: space-evenly; 
           .icon {
            font-size: 2em;
            cursor: pointer;
           }
    }
}
}
.collapse {
    transition: 350ms;
    display: none;
}
.menu {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    display: initial;
    position: absolute;
    .bars {
        position: sticky;
        top: 0;
        left: 0;
        font-size: 3em;
        padding: 15px;
        cursor: pointer;
        color: whitesmoke
    }
}