.arrow {
    position: sticky;
    left: 0;
    top: 0;
    display: initial;
    position: absolute;
    margin-top: 1em;
    .arrowIcon {
        display: flex;
        position: sticky;
        top: 0;
        left: 0;
        font-size: 5em;
        padding: 20px;
        cursor: pointer;
        color: whitesmoke;
        &:hover {
            color: crimson;
            transition: .85s;
        }
    }
}