.home {
    display: flex;
    height: 100vh;
    .logo {
        position: absolute;
        top: 0;
        left: 45%;
        right: 45%;
        text-align:center;
        vertical-align:middle;
        z-index: 1;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        height: 100vh;
        div {
        div {
        div {
        .arrow {
            position: absolute;
            width: 100%;
            align-self: center;
            margin-top: 75vh;
            z-index: 100;
            font-size: 5em;
            color:  crimson;
            cursor: pointer;
            &:hover {
                -webkit-animation: swing 1s ease;
                animation: swing 1s ease;
                -webkit-animation-iteration-count: 1;
                animation-iteration-count: 1;
            }
        }
    .navigation {
        margin-top: 25rem;
        align-self: center;
        background-color: #d04143;
        background-image: linear-gradient(43deg, #d04143 0%, #f21720 46%, #e0233b 100%);
        border-radius: 10px;
        height: 15vh;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        .link {
            text-decoration: none;
            font-style: normal;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 20%;
            div {
                box-sizing: border-box;
                border-radius: 10px;
                width: 100%;
                font-size: 1.5rem;
                color: white
            }
        }
        @media screen and (max-width: 1024px) {
            & {
                margin-top: 10rem;
                flex-direction: column;
                height: 50vh;
                .link { 
                    width: 80%;
                }
            }
        }
    }
}
}
}
    }
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
