.productDetails {
    display: flex;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    width: 100%;
    .content {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        .left {
            height: 70vh;
            background-color: white;
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            .productImage {
                width: 50%;
                aspect-ratio: 1/1;
            }
            .productTitle {
                color: crimson;
            }
        }
        .right {
            padding: 1em;
            height: 70vh;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            width:45%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            background-color: rgba(0,0,0,0.2);
            color: whitesmoke;
            .productDescription {
                height: 500px;
            }
            .addToCart {
                width: 100%;
                text-align: center;
                display: flex;
                justify-content: space-around;
                .addToCartTitle {
                    padding: 10px;
                    border-radius: 10px;
                    background-color: crimson;
                    cursor: pointer;
                    &:hover {
                        filter: brightness(150%);
                    }
                }
                .productPrice {
                    padding: 10px;
                }

            }
        }
    }
    @media all and (max-width: 768px) {
        height: max-content;
        .content {
            display: flex;
            text-align: center;
        }
        .left {
            .productImage {
                width: 80px;
                aspect-ratio: 1/1;
            }
            display: flex;
            width: 100%;
            text-align: center;

        }
        .right {
            .addToCart {
                display: flex;
                flex-direction: column-reverse;
                justify-content: space-between;
            }
            .productDescription {
                display: none;
            }
        }
    }
}
