.orderhistory {
    display: flex;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    width: 100%;
    .content {
        height: max-content;
        display: flex;
        align-items: center;
        text-align: center;
        width: 90%;
        margin-top: 2em;
        gap: 1em;
        .title {
            color: white;
            display: block;
            text-align: center;
            align-items: center;
            a {
                text-decoration: none;
                color: crimson;
            }
        }
        .pendingOrders, .finishedOrders {
            width: 100%;
        .orders {
            width: 100%;
            height: 90vh;
            display: grid;
            grid-template-columns: auto auto auto;
            overflow-y: scroll;
            overflow-x: hidden;
            gap: 1em;
            &::-webkit-scrollbar {
                width: 10px;
                height: 10px;
              }
              &::-webkit-scrollbar-thumb {
                background: crimson;
                border-radius: 10px;
              }
              &::-webkit-scrollbar-track {
                background: transparent;
              }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .orderhistory {
    height: max-content;
        .content {
        margin-top: 4em;
        flex-direction: column;
        width: 100%;
        .pendingOrders,.finishedOrders {
            .orders {
            display: flex;
            overflow-y: hidden;
            overflow-x: scroll;
            max-height: 50vh;
            width: 100%;
            margin-top: 2em;
            }   
        }
        }
    }
}