.orderhistory {
    display: flex;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    width: 100%;
    .content {
        height: max-content;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 100%;
        padding: 1em;
        .title {
            color: white;
            display: block;
            text-align: center;
            align-items: center;
            a {
                text-decoration: none;
                color: crimson;
            }
        }
        .orders {
            display: grid;
            grid-template-columns: auto auto auto auto;
            gap: 1em;
        }
    }
    @media screen and (max-width: 768px) {
        .content {
        height: max-content;
            .orders {
            margin-top: 2em;
            grid-template-columns: auto auto;
            }   
        }
    }
}